/* styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #15172D;
    color: #fff;
}

header {
    background-color: #15172D;
    padding: 5vh 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    padding-left: 7vw;
    display: flex;
    align-items: center;
    gap: 16vw;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.logo img {
    height: 3vw;
}

.logo h1 {
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 5vw;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.25rem;
}

.auth-buttons {
    display: flex;
    gap: 2vw;
    padding-right: 10vw;
}

.auth-buttons .login,
.auth-buttons .signup {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.auth-buttons .login {
    background-color: #6a00ff;
    color: #fff;
}

.auth-buttons .signup {
    background-color: transparent;
    border: 2px solid #6a00ff;
    color: #6a00ff;
}

main .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 20px;
}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.hero-buttons {
    display: flex;
    gap: 20px;
}

.hero-buttons .explore,
.hero-buttons .play {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.hero-buttons .explore {
    background-color: #6a00ff;
    color: #fff;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

main .games {
    padding: 8vh 10vw;
}

.games h2 {
    font-size: 3rem;
    padding-bottom: 6vh;
    text-align: center;
    font-weight: bold;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #3F2182;
    border-radius: 20px;
    overflow: hidden;
    width: 90%;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.card-content {
    padding: 20px;
}

.tag {
    background-color: #6a00ff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.75rem;
    display: inline-block;
    margin-bottom: 10px;
}

.card-content h3 {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.card-content p {
    font-size: 0.875rem;
    color: #ccc;
    margin-bottom: 20px;
}

.card-content .play {
    border: none;
    cursor: pointer;
    font-size: 1rem;
    background-color: #3F2182;
    color: #fff;
    padding-top: 4vw;
}

/* Estilos de navegación de Swiper */
.swiper-button-next,
.swiper-button-prev {
    color: #fff;
}

.swiper-pagination-bullet {
    background: #6a00ff;
}