* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #15172D;
    color: #fff;
}

header {
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(7px);
    padding: 5vh;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circle{

}

.nav-left {
    padding-left: 7vw;
    display: flex;
    align-items: center;
    gap: 16vw;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1vw
}

.logo img {
    height: 3vw;
}

.logo h1 {
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 5vw;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.25rem;
}

.auth-buttons {
    display: flex;
    gap: 2vw;
    padding-left: 10vw;
}

.auth-buttons .login,
.auth-buttons .signup {
    padding: 10px 2vw;
    border-radius: 20px;
    cursor: pointer;
}

.auth-buttons .login {
    background: rgb(116,25,247);
    background: linear-gradient(90deg, rgba(116,25,247,1) 0%, rgba(255,101,255,1) 100%);
    color: #fff;
    border: none;
}

.auth-buttons .signup {
    border: none;
    outline: none;
    position: relative;
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(116,25,247,1) 0%, rgba(255,101,255,1) 100%);
    cursor: pointer;
    z-index: 1;
    color: #fff;
}

.auth-buttons .signup::before {
    content: "";
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    border-radius: 19px;
    background-color: #15172D;
    z-index: -1;
}

.auth-buttons .signup::after {
    content: attr(data);
    font-size: 16px;
}


main .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 20px;

}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    font-size: 5rem;
    margin-bottom: 3vw;
}

.hero-content .right-content {
    display: flex;
    align-items: center;
    gap: 3vw;
}

.hero-content .right-content p {
    font-size: 2rem;
}

.hero-content .right-content img {
    width: 7vw;
}

.hero-buttons {
    display: flex;
    gap: 20px;
    padding-top: 5vw;
}

.hero-buttons .explore,
.hero-buttons .play {
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.5rem;
}

.hero-buttons .explore {
    background: rgb(116,25,247);
    background: linear-gradient(90deg, rgba(116,25,247,1) 0%, rgba(255,101,255,1) 100%);
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    gap: 1vw;
}

.hero-content .explore .arrow-button-logo{
    width: 2vw;
    margin-left: 2vw;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    filter: drop-shadow(-1px -4px 12px #e873d8);
}

main .games {
    padding: 8vh 10vw;
}

.games h2 {
    font-size: 3rem;
    padding-bottom: 6vh;
    text-align: center;
    font-weight: bold;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #3F2182;
    border-radius: 20px;
    overflow: hidden;
    width: 90%;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.card-content {
    padding: 20px;
}

.tag {
    background-color: #6a00ff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.75rem;
    display: inline-block;
    margin-bottom: 10px;
}

.card-content h3 {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.card-content p {
    font-size: 0.875rem;
    color: #ccc;
    margin-bottom: 20px;
}

.card-content .play {
    border: none;
    cursor: pointer;
    font-size: 1rem;
    background-color: #3F2182;
    color: #fff;
    padding-top: 4vw;
}

/* Estilos de navegación de Swiper */
.swiper-button-next,
.swiper-button-prev {
    color: #fff;
}

.swiper-pagination-bullet {
    background: #6a00ff;
}






