* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    margin: 0;
    width: 100%;
    height: 100%;
}


body {
    font-family: 'Michroma', sans-serif;
    background-color: #15172D;
    color: #fff;

}

header {
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(7px);
    padding: 5vh;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circle {
    width: 35vw;
    height: 50vh;
    background-color: #7419F7;
    border-radius: 50%;
    filter: blur(100px);
    position: absolute;
    z-index: -1000;
}

#circle1{
    left: 0;
    top: 130vh;
    right: 65vw;
    bottom: 0;
}

#circle2{
    left: 0;
    top: 20vh;
    right: 65vw;
    bottom: 0;
}

#circle3{
    left: 65vw;
    top: 60vh;
    right: 0;
    bottom: 0;
}

#circle4{
    left: 65vw;
    top: 150vh;
    right: 0;
    bottom: 0;
}

#circle5{
    left: 0;
    top: 200vh;
    right: 65vw;
    bottom: 0;
}

.nav-left {
    padding-left: 7vw;
    display: flex;
    align-items: center;
    gap: 8vw;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1vw
}

.logo img {
    height: 3vw;
}

.logo h1 {
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 5vw;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
}

.auth-buttons {
    display: flex;
    gap: 2vw;
    padding-left: 10vw;
}

.auth-buttons .login,
.auth-buttons .signup {
    padding: 10px 2vw;
    border-radius: 20px;
    cursor: pointer;
}

.auth-buttons .login {
    background: rgb(116,25,247);
    background: linear-gradient(90deg, rgba(116,25,247,1) 0%, rgba(255,101,255,1) 100%);
    color: #fff;
    border: none;
}

.auth-buttons .signup {
    border: none;
    outline: none;
    position: relative;
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(116,25,247,1) 0%, rgba(255,101,255,1) 100%);
    cursor: pointer;
    z-index: 1;
    color: #fff;
}

.auth-buttons .signup::before {
    content: "";
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    border-radius: 19px;
    background-color: #15172D;
    z-index: -1;
}

.auth-buttons .signup::after {
    content: attr(data);
    font-size: 16px;
}


main .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 20px;

}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    font-size: 4rem;
    margin-bottom: 3vw;
}

.hero-content .right-content {
    display: flex;
    align-items: center;
    gap: 3vw;
}

.hero-content .right-content p {
    font-size: 2rem;
}

.hero-content .right-content img {
    width: 7vw;
}

.hero-buttons {
    display: flex;
    gap: 20px;
    padding-top: 5vw;
}

.hero-buttons .explore,
.hero-buttons .play {
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.5rem;
}

.hero-buttons .explore {
    background: rgb(116,25,247);
    background: linear-gradient(90deg, rgba(116,25,247,1) 0%, rgba(255,101,255,1) 100%);
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    gap: 1vw;
}

.hero-content .explore .arrow-button-logo{
    width: 2vw;
    margin-left: 2vw;
    top: 5px;
    left: 10px;
    position: relative;
    transition: left 1s ease;
}

.arrow-button-logo.animate {
    animation: moveLeftRight 0.5s infinite alternate ease-in-out;
}
@keyframes moveLeftRight {
    0% {
        left: 10px;
    }
    5% {
        left: 8px;
    }
    10% {
        left: 7px;
    }
    15% {
        left: 5px;
    }
    20% {
        left: 4px;
    }
    25% {
        left: 2px;
    }
    30% {
        left: 1px;
    }
    35% {
        left: -0;
    }
    40% {
        left: -2px;
    }
    45% {
        left: -3px;
    }
    50% {
        left: -5px;
    }
    55% {
        left: -6px;
    }
    60% {
        left: -8px;
    }
    65% {
        left: -9px;
    }
    70% {
        left: -11px;
    }
    75% {
        left: -12px;
    }
    80% {
        left: -14px;
    }
    85% {
        left: -15px;
    }
    90% {
        left: -17px;
    }
    95% {
        left: -18px;
    }
    100% {
        left: -20px;
    }
}


.hero-content .explore a{
}

.hero-image img {
    max-width: 100%;
    height: auto;
    filter: drop-shadow(-1px -4px 12px #e873d8);
}

main .games {
    padding: 8vh 10vw;
}

.games h2 {
    font-size: 3rem;
    padding-bottom: 6vh;
    text-align: center;
    font-weight: bold;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden; /* Oculta el contenido que se desborda */
    overflow-x: visible; /* Permite que el contenido se desborde solo horizontalmente */
    margin-left: -30px; /* Empuja el contenido hacia la izquierda */
    padding-left: 30px; }


.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    background-color: #3F2182;
    border-radius: 20px;
    width: 90%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

/* Define the grow animation */
.card:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}


.card img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.card-content {
    padding: 20px;
}

.tag {
    background-color: #6a00ff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.75rem;
    display: inline-block;
    margin-bottom: 10px;
}

.card-content h3 {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.card-content p {
    font-size: 0.875rem;
    color: #ccc;
    margin-bottom: 20px;
}

.card-content .play {
    border: none;
    cursor: pointer;
    font-size: 1rem;
    background-color: #3F2182;
    color: #fff;
    padding-top: 4vw;
}

.swiper-slide card{
    transition: transform 0.3s ease;
}

.swiper-slide:hover card{
    transform: scale(1.1); /* Escala del 110% al hacer hover */
    z-index: 10; /* Para que la slide se coloque por encima de las demás */
}

/* Estilos de navegación de Swiper */
.swiper-button-next,
.swiper-button-prev {
    color: #fff;
}

.swiper-pagination-bullet {
    background: #6a00ff;
}

/* Estilos de expansión para botones al pasar el mouse */
.auth-buttons .login:hover,
.auth-buttons .signup:hover,
.hero-buttons .explore:hover,
.hero-buttons .explore .arrow-button-logo:hover,
.hero-buttons .play:hover,
.hero-image .gamer:hover,
.play:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.gamer{
    transition: transform 0.3s ease;
}

.auth-buttons .login:hover,
.auth-buttons .signup:hover,
.hero-buttons .explore:hover {
    background: rgb(189, 189, 189);
    background: linear-gradient(90deg,rgba(255,101,255,1)  0%, rgba(116,25,247,1) 0%, rgba(255,101,255,1) 48%, rgba(116,25,247,1) 100%);
    background-size: 300% 100%;
    transition: transform 0.3s ease;
    animation: gradient 2s ease infinite;
}


.auth-buttons .signup:hover::before {
    background-image: linear-gradient(90deg, rgba(255, 101, 255, 1) 0%, rgba(116, 25, 247, 1) 0%, rgba(255, 101, 255, 1) 48%, rgba(116, 25, 247, 1) 100%);
    background-size: 300% 100%;
    animation: gradient 2s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.auth-buttons .login,
.auth-buttons .signup,
.hero-buttons .explore,
.hero-buttons .play {
   display: inline-block;
   transition: transform 0.3s ease;
}

.navElement {
    transition: font-size 0.3s ease;
}

.navElement:hover {
    font-size: 1.4em;
}




